[Desktop Entry]
Name=Obsidian
Comment=A powerful knowledge base that works on top of a local folder of plain text Markdown files.
Exec=/usr/bin/obsidian
Icon=obsidian
Terminal=false
Type=Application
Categories=Office;
